<!DOCTYPE html>
<html ng-app="resumeApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的应聘 | 姜珊的求职简历</title>
<link href="resume.css" type="text/css" rel="stylesheet">
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
</head>
<body id="previewpage2" ng-cloak>
	<div id="content" class="width980">
		<div style="position:fixed;top: 10px;left: 25%;color: darkgray;display:none">
			<div style="margin-left: 600px;text-indent: 0.1em;">本简历自豪地采用Angular</div>
			<div style="margin-left: 600px;white-space: nowrap;word-wrap: break-word;">由Github提供数据存储服务</div>
		</div>
		<div class="contdiv" id="previewcont">
			<div>
				<div class="chooseColor">
					<div class="colorBox black"></div>
					<div class="colorBox white"></div>
				</div>
				<div class="textr size16 print" style="margin-top:20px;">
					<a href="javascript:;" onclick="window.print();" title="请在白色背景下打印简历">打印简历&gt;&gt;</a>
				</div>
				<div style="text-align:center;font-size:20px;">我的简历</div>
				<div class="item" ng-controller="applyForCtrl">
					<div class="t" name="apply">{{h1}}</div>
					<table border="1" bordercolor="#888888" cellspacing="0" cellpadding="0">
						<tbody>
							<tr ng-repeat="data in Data">
								<td class="tdname">{{data.title}}：</td>
								<td>{{data.content}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="item" ng-controller="personInfoCtrl">
					<div class="t">{{h1}}</div>
					<table border="1" bordercolor="#888888" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td class="tdname">姓名：</td>
								<td colspan="2">{{data.name}}</td>
								<td rowspan="4" class="textc"><img class="zoomin" ng-src="{{data.photo}}" height="150">
								</td>
							</tr>
							<tr>
								<td class="tdname">证件号码：</td>
								<td colspan="2">{{data.ID_Number}}</td>
							</tr>
							<tr>
								<td class="tdname">手机：</td>
								<td colspan="2">{{data.phoneNum}}</td>
							</tr>
							<tr>
								<td class="tdname">电子邮箱：</td>
								<td colspan="2">{{data.email}}</td>
							</tr>
							<tr>
								<td class="tdname">性别：</td>
								<td>{{data.sex}}</td>
								<td class="tdname">出生日期：</td>
								<td>{{data.birthday}}</td>
							</tr>
							<tr>
								<td class="tdname">籍贯：</td>
								<td>{{data.hometown}}</td>
								<td class="tdname">民族：</td>
								<td>{{data.nation}}</td>
							</tr>
							<tr>
								<td class="tdname">英语等级：</td>
								<td>{{data.englishLevel}}</td>
								<td class="tdname">技能：</td>
								<td>{{data.otherCertificate}}</td>
							</tr>
							<tr>
								<td class="tdname">英文应用水平：</td>
								<td>{{data.otherLang}}</td>
								<td class="tdname">预计毕业时间：</td>
								<td colspan="3">{{data.graduationDate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="item" ng-controller="educationBackgroundCtrl">
					<div class="t">{{h1}}</div>
					<table border="1" bordercolor="#888888" cellpadding="0" cellspacing="0">
						<tbody>
							<tr ng-repeat="data in Data">
								<td class="tdname">{{data.title}}</td>
								<td>{{data.content}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="item" ng-controller="experienceCtrl">
					<div class="t">{{h1}}</div>
					<table border="1" bordercolor="#888888" cellpadding="0" cellspacing="0">
						<tbody>
							<tr ng-repeat="experience in experiences track by $index">
								<td class="tdname" valign="top">{{experience.category}}：</td>
								<td class="pt12">
									<span ng-repeat="event in experience.events" style="display:block">{{event}}</span>
								</td>
							</tr>
							<tr>
								<td class="tdname">个人作品：</td>
								<td class="pt12"><a href="http://pan.baidu.com/s/1kT4cIyz" style="color: blue" target="_blank">百度云在线下载地址</a>&nbsp;&nbsp;&nbsp; <a>在线浏览(敬请期待)</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="item" ng-controller="answerCtrl" ng-if="h1">
					<div class="t" name="apply">{{h1}}</div>
					<table border="1" bordercolor="#888888" cellspacing="0" cellpadding="0">
						<tbody>
							<tr ng-repeat="data in Data">
								<td style="display:block">{{data.question}}</td>
								<td style="display:block;text-indent:2em;">{{data.answer}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="resume.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			document.querySelector('.black').addEventListener('click', function() {
				document.querySelector('body').style.color = '#ffffff';
				document.querySelector('body').style.backgroundColor = '#000000';
			})
			document.querySelector('.white').addEventListener('click', function() {
				document.querySelector('body').style.color = '#000000';
				document.querySelector('body').style.backgroundColor = '#ffffff';
			})
		}
	</script>
</body>
</html>
